@font-face {
    font-family: "Rische";
    src: url(../fonts/rische.otf);
}
@font-face {
    font-family: "Clash Display";
    src: url(../fonts/ClashDisplay-Regular.otf);
}
@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Regular.otf);
}
@font-face {
    font-family: "Work Sans";
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    height: 2500px;
    margin: auto;
    position: relative;
    z-index: -50;
    overflow-x: hidden;
}

.hero {
    position: relative;
    z-index: -5;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    background-image: url("../images/Frame 93.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 50%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    z-index: -4;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

nav {
    height: 108px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.nav__logo {
    justify-self: center;
}

.menu {
    margin-left: 64px;
    display: flex;
    width: fit-content;
    gap: 8px;
}

.menu:hover {
    cursor: pointer;
}

.menu__name {
    font-family: "Clash Display";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    /* identical to box height, or 13px */

    display: flex;
    align-items: center;
    letter-spacing: 0.21em;

    /* Primary Colors/White */

    color: #ffffff;
}

.menu__hamburger {
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__hamburger__line {
    width: 26px;
    height: 1.11px;
    background-color: #ffffff;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 138px;
    gap: 44px;
}

.main__title {
    font-family: "Rische";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */

    letter-spacing: 0.03em;

    /* Primary Colors/White */

    color: #ffffff;
}

.main__button {
    padding: 20px 48px;
    gap: 10px;

    border: 1px solid #ffffff;
    background: none;

    text-transform: uppercase;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.24em;

    /* Primary Colors/White */

    color: #ffffff;
}

.main__button:hover {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.main__title__break {
    display: block;
}

.hero__scroller {
    position: absolute;
    height: 26px;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: scrollerAnimation 1s infinite alternate;
}

.hero__scroller:hover {
    cursor: pointer;
}

@keyframes scrollerAnimation {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, -20px);
    }
}

.hero__inquire {
    width: 225px;
    height: 64px;
    position: absolute;
    right: 25px;
    bottom: 24px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
}

.hero__inquire__name {
    text-transform: uppercase;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.24em;

    /* Primary Colors/White */

    color: #ffffff;
}

.hero__inquire__image {
    width: 75px;
}

.hero__inquire:hover {
    background-color: #ffffff;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.hero__inquire:hover .hero__inquire__name {
    color: black;
}

/* END OF HERO SECTION*/
/* END OF HERO SECTION*/

.section--first {
    padding: 110px 0px;
    margin: 70px auto;
    display: flex;
    max-width: 1190px;
    width: 100%;
    justify-content: space-between;
}

/*Margin is being modified using Js using handleMargin function*/
.section--second {
    padding: 110px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: calc(1190px + (1920px - 1190px) / 2);
}

.section-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.section--first__image-wrapper {
    position: relative;
    flex: 1fr;
}

.section--first__main-image {
    height: 800px;
}

.section--first__star--first {
    position: absolute;
    right: 0px;
    top: 24px;
    width: 50px;
}

.section--first__star--second {
    position: absolute;
    right: -25px;
    top: 67px;
    max-width: 26px;
}

.section__content {
    max-width: 368px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section__content--first {
    align-self: center;
}

.section__content--g56 {
    gap: 56px;
}

.section__content--g32 {
    gap: 32px;
}

.section__title {
    font-family: "Rische";
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 110%;
    /* or 59px */

    /* Primary Colors/Black */

    color: #000000;
}

.section__title--blue {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */

    letter-spacing: 0.23em;
    text-transform: uppercase;

    /* Primary Colors/Blue */

    color: #0047ff;
}

.section__title--m32 {
    margin-top: -16px;
}

.section__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section__subtitle {
    font-family: "Rische";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: 0.03em;

    /* Primary Colors/Black */

    color: #000000;
}

.section__text {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 180%;

    /* Primary Colors/Black */

    color: #000000;
}

.section__info-wrapper {
    width: 318px;
    display: flex;
    justify-content: space-between;
}

.section__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section__info--name {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */

    letter-spacing: 0.23em;
    text-transform: uppercase;

    /* Primary Colors/Medium Gray */

    color: #838383;
}

.section__info--value {
    font-family: "Rische";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: 0.03em;

    /* Primary Colors/Black */

    color: #000000;
}

.section__button {
    border: 1px solid #0047ff;
    padding: 20px 48px;

    /* Primary Colors/Blue */

    background: #0047ff;
    box-shadow: 6px 57px 23px rgba(26, 113, 255, 0.04), 3px 32px 20px rgba(26, 113, 255, 0.13),
        2px 14px 14px rgba(26, 113, 255, 0.21), 0px 4px 8px rgba(26, 113, 255, 0.25),
        0px 0px 0px rgba(26, 113, 255, 0.25);

    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.24em;
    text-transform: uppercase;

    /* Primary Colors/White */

    color: #ffffff;
}

.section__button--m56 {
    margin-top: -24px;
}

.section__button:hover {
    cursor: pointer;
    color: #0047ff;
    background-color: #ffffff;
    border: 1px solid #0047ff;
    transition: 0.2s ease-in-out;
}

.section__slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.section__slider {
    max-width: 802px;
    display: flex;
    gap: 32px;
}

.slider__image {
    width: 468px;
    height: 652px;
    position: relative;
    transition: 0.4s ease-in-out;
}

.slider__image--first {
    width: 468px;
    background-image: url(../images/Rectangle\ 53.png);
}

.slider__image--second {
    width: 302px;
    background-image: url(../images/Rectangle\ 54.png);
}

.slider__image__subtitle {
    position: absolute;
    bottom: 109px;
    left: 56px;

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */

    letter-spacing: 0.23em;
    text-transform: uppercase;

    /* Primary Colors/White */

    color: #ffffff;
}

.slider__image__name {
    position: absolute;
    bottom: 65px;
    left: 56px;

    font-family: "Rische";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    /* identical to box height, or 36px */

    letter-spacing: 0.03em;

    /* Primary Colors/White */

    color: #ffffff;
}

.slider__image__name::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 4px;
    width: 70%;
    height: 3px;
    transition: 0.4s ease-in-out;

    /* Primary Colors/Blue */

    background: #0047ff;
}

.slider__image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.slider__image:hover .slider__image__name::after {
    width: 100%;
    transition: 0.2s ease-in-out;
}

.section__arrows {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 136px;
}

.section__arrow {
    width: 48px;
    height: 48px;
    position: relative;

    /* Primary Colors/Blue */

    background: #0047ff;
    backdrop-filter: blur(23.2456px);
    filter: drop-shadow(6px 57px 23px rgba(26, 113, 255, 0.04)) drop-shadow(3px 32px 20px rgba(26, 113, 255, 0.13))
        drop-shadow(2px 14px 14px rgba(26, 113, 255, 0.21)) drop-shadow(0px 4px 8px rgba(26, 113, 255, 0.25))
        drop-shadow(0px 0px 0px rgba(26, 113, 255, 0.25));
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 49px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.section__arrow:hover {
    cursor: pointer;
}

.section__arrow::before {
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    background-image: url(../images/Group.png);
}

.section__arrow--left {
    opacity: 0.2;
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}

.section__arrow--right::before {
    transform: rotate(180deg);
}

@media (screen > 1600px) {
    main h1 br {
        display: none;
    }
}
